venv/
env/
.env
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
*.so
*.egg-info/
dist/
build/
*.egg

model/eye_disease_model.h5
model/*.weights.h5

data/train/
data/val/
data/test/
*.zip
*.tar.gz

.DS_Store
Thumbs.db
desktop.ini

.idea/
.vscode/
*.swp
*.swo

.ipynb_checkpoints/

*.log

.streamlit/secrets.toml
